.about {
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    color: rgba(0,0,0,.9);
    padding: 22px 15px;
    width: 100%;
    height: 70vh;
    min-height: 522px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
}

@media(max-width: 750px){
    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 750px;
    }
}