.about {
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    color: rgba(0,0,0,.9);
    width: 100%;
    display: grid;
    min-height: 600px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    padding: 100px 50px;
}

#abouttext {
    width: 70%;
    margin: auto;
}

#bigText {
    font-size: 1.5em;
}
