.contact {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.9);
    z-index: -2;
    border-bottom: 3px solid rgba(0, 0, 0, 0.89);
}

/* .contactGrid {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
} */

.contactGrid{
    width: 100%;
    padding: 10px;
}

.forForm {
    height: 100%;
    box-sizing: border-box;
}

.forForm form {
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.forForm form input {
    box-sizing: border-box;
    padding: 7px;
    background-color: rgba(10, 10, 10, 0.425);
    border: none;
    margin: 7px 0px;
    width: 75%;
    color: white;
    border: 1px solid rgb(255,255,255, .5);
}

.forForm form textarea {
    box-sizing: border-box;
    margin: 7px 0px;
    padding: 7px;
    width: 85%;
    height: 300px;
    resize: none;
    background-color: rgba(10, 10, 10, 0.425);
    border: 1px solid rgb(255,255,255, .5);
    color: white;
}

.forOther {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.forOther #socials {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.forOther #socials a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}

.forOther #socials a:hover {
    color: white;
}

.forOther #socials img {
    padding: 20px;
}

#cntct {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

#blocker {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.9);
}

#contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    font-family: 'Libre Caslon Display', serif;
    font-size: 1.55em;
}

#contactName {
    font-size: 0.875em;
    font-family: 'Roboto Condensed', 'Roboto';
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 both alternate;
	        animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 both alternate;
}

@media(max-height: 600px) {

}

@media(max-width: 800px) {
    .contactGrid {
        grid-template-columns: 1fr;
        height: 100%;
    }

    /* #blocker p {
        padding-right: 167px;
    } */
    .forForm {
        
    }
    
    .forForm form {
        
    }
    
    .forForm form input {
        width: 100%;
    }
    
    .forForm form textarea {
        width: 100%;
    }
    
    .forOther {
        width: 100%;
    }

    .forOther #socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: stretch;
        justify-items: center;
    }

}


/* ----------------------------------------------
 * Generated by Animista on 2019-9-4 2:46:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  