.skills {
    background-color: rgb(253, 253, 253);
    color: rgb(5,5,5);
    width: 100%;
    padding: 10px;
}

.skills h3 {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.blurbHolder {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.021);
    border: 1px solid rgb(0,0,0,.1);
    padding: 4px 8px;
    margin: 5px;
    border-radius: 5px;
    z-index: 400;
}

.blurb img {
    height: 50px;
    width: auto;
}