.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    box-sizing: border-box;
    padding: 15px 25px;
    min-height: 225px;
    width: 100%;
}

.footer div {
    width: 100%;
}