.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 15px 25px;
    min-height: 75px;
    width: 100%;
}

.footer div {
    width: 100%;
}