.navlinks {
    display: flex;
    box-sizing: border-box;
}

a {
    padding: 0 5px;
}

a:hover {
    color: rgba(255,255,255,.75);
}

button {
    background-color: transparent;
    color: white;
    border: none;
}

button:hover {
    color: rgba(255,255,255,.75);
}