.projects {
    background-color: rgb(0,0,0,.55);
    min-height: 500px;
    width: 100%;
    border: 1px solid rgba(255,255,255,.025);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.projects h3 {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.projCard {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,.025);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.projCard #title {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    padding: 9px 7px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    background-color: rgb(20,20,20);
    width: 100%;
    border-radius: 4px;
}

.projCard #details {
    display: flex;
    align-items: center;
    padding: 11px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.projCard #technologies {

}

.projCard #img {
    width: 100%;
    height: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projCard img {
    width: 100%;
    border-radius: 4px;
}

.mapHolder {
    display: grid;
    padding: 50px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
}

@media(max-width: 1024px){
    .mapHolder {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 800px){

    .mapHolder {
        grid-template-columns: 1fr;
    }
}
