.projects {
    background-color: rgb(0,0,0,.55);
    min-height: 600px;
    width: 100%;
    border: 1px solid rgba(255,255,255,.025);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.projects h3 {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.projCard {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,.025);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 15% 35%;
    min-height: 450px;
    color: black;
}

.projCard #title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 9px 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.151);
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
}

.projCard #details {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    line-height: 20px;
    background-color: rgba(247, 247, 247, 1);
}

.projCard #img {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding: -30px;
}

.projCard img {
    width: 100%;
    border-radius: 2px;
    border: 2px solid rgb(247, 247, 247);
}

.mapHolder {
    display: grid;
    padding: 50px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
}

@media(max-width: 1024px){
    .mapHolder {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 800px){
    .mapHolder {
        grid-template-columns: 1fr;
    }
}
