.topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
}

.topBarHold {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 200;
}

#nameplate {
    font-family: 'Lexend Deca', 'Lexend Exa', 'Libre Caslon Display', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    line-height: 0;
}

.upArrow {
    position: fixed;
    right: 0;
    color: white;
}

.upArrow img {
    height: 36px;
    width: 36px;
}

@media(max-height: 600px){
    .topBar{
        animation: fadeIn .3s linear 0s 1 alternate both running
    }
}

@keyframes fadeIn {
    from {
        background-color: transparent;
    } to {
        background-color: rgba(0,0,0,.75);
    }
}