.topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.topBarHold {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 200;
}

/* .leftBar {

}

.rightBar {

} */

#nameplate {
    font-family: 'Lexend Deca', 'Lexend Exa', 'Libre Caslon Display', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 3em;
    line-height: 0;
}
