.navlinks {
  display: flex;
  box-sizing: border-box;
  font-family: "Lexend Exa";
  font-size: 0.925em;
}

a {
  padding: 0 4px;
  font-family: "Lexend Exa";
}

a:hover {
  color: rgba(255, 255, 255, 0.75);
}

button {
  background-color: transparent;
  color: white;
  border: none;
}

button:hover {
  color: rgba(255, 255, 255, 0.75);
}
