body {
  background-color: #222222;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.funcHold {
  display: grid;
  grid-template-columns: 1fr;
}

.lowers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -315;
}

.uppers {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 300;
}