body {
  background-color: #222222;
  color: #FFFFFF;
}

.funcHold {
  display: grid;
  grid-template-columns: 1fr;
}

.lowers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}